@font-face{
  font-family: "Avenir";
  src: url('../font/Avenir.otf');
}

*, *:before, *:after{
  margin: 0;
  box-sizing: border-box;
}

body{
  font: 400 1em/1.4 Avenir, sans-serif;
}

header{
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}

video{
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0%;
  z-index: 5;
  -webkit-filter: contrast(.8);
  filter: contrast(.8);
}

h1, h2, h3, h4{
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  z-index: 10;
}

nav{
  width: 200px;
  background: #181915;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -200px;
  padding: 1em 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 10;
  overflow-y: auto;
  color: rgba(255,255,255,.87);
}

.logo{
  width: 40%;
  min-width: 250px;
  z-index: 10;
}

ul{
  list-style: none;
  padding: 0;
  width: 100%;
}

.menu{
  position: fixed;
  right: 10px;
  top: 5px;
  width: 55px;
  height: 55px;
  padding: 5px;
  background: transparent;
  border: 2px solid rgba(255,255,255,.8);
  border-radius: 3px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 10;
  cursor: pointer;
}

.menu.show{
  right: 210px;
}

.menu.fixed{
  border: 2px solid #0073BE;
  background: #efefef;
}

.menu.show + nav{
  right: 0;
}

.menu:hover{
  background: rgba(255,255,255,.3);
}

.menu.fixed:hover{
  background: #C8D5B9;
}

.controle{
  position: relative;
  width: 100%;
  height: 100%;
}

.faixa, .faixa:after, .faixa:before{
  position: absolute;
  background: rgba(255,255,255,.87);
  width: 100%;
  height: 5px;
  border-radius: 3px;
  bottom: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.menu.fixed .faixa, .menu.fixed .faixa:after, .menu.fixed .faixa:before{
  background: #0073BE;
}

.faixa:after, .faixa:before{
  content: '';
}

.faixa:after{
  top: -36px;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.faixa:before{
  top: -18px;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

.menu.show .faixa{
  background: transparent
}

.menu.show .faixa:after{
  -webkit-transform: rotate(45deg) scaleX(1.4) translate(0, -2px);
  transform: rotate(45deg) scaleX(1.4) translate(0, -2px);
}

.menu.show .faixa:before{
  top: 0;
  -webkit-transform: rotate(-45deg) scaleX(1.4) translate(0, 2px);
  transform: rotate(-45deg) scaleX(1.4) translate(0, 2px);
}

nav li{
  width: 100%;
  padding: 10px;
  text-align: center;
  border-left: 4px solid #181915;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
  font-size: 1.15em;
}

nav li:hover{
  background: #272A26;
  border-left-color: #666;
}

nav img{
  width: 150px;
  padding: 10px;
  margin: 0 0 10px 25px;
}

.fixo{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  padding: 5px 15px;
  background: #efefef;
  opacity: 0;
  height: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.37);
}

.fixo.show{
  opacity: 1;
  -webkit-transform: scaleY(1;);
  transform: scaleY(1);
  height: 65px;
}

.fixo svg{
  height: 100%;
}

section{
  padding: 1em;
}

#apresentacao, #objetivos{
  padding: 2em;
}

#objetivos{
  background: url('../img/objetivos.jpg') center center;
  background-size: cover;
  background-attachment: fixed;
}

#objetivos h2{
  color: #fff;
  text-shadow: 0 0 2px rgba(0,0,0,.7);
}

#objetivos .item{
  background: rgba(255,255,255,.7);
  border: 3px solid rgba(255,255,255,.9);

}

h2{
  font-size: 1.7em;
}

.divisoria{
  width: 60%;
  margin-left: 20%;
}

.texto{
  width: 60%;
  margin-left: 20%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.25em;
}

.container{
  width: 80%;
  margin-left: 10%;
  padding: .5em;
  border-radius: 5px;
}

div.container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}

.item{
  text-align: center;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 1px 1px rgba(0,0,0,.2);
  background: gray;
  margin-bottom: 10px;
}

.item{
  width: 45%;
  font-size: 1.15em;
}

#fundamentacao li{
  padding: 1em;
  border-bottom: 2px solid #212121;
  font-size: 1.15em;
}

footer{
  padding: 1em;
}

@media (max-width: 700px){
  #apresentacao, #objetivos{
    padding: 1em;
  }
  .divisoria{
    width: 100%;
    margin-left: 0;
  }
  .container{
    width: 100%;
    margin-left: 0;
  }
  .texto{
    width: 90%;
    margin-left: 5%;
  }
  #objetivos .item, #pesquisa .item{
    width: 100%;
  }
  #texto{
    display: none;
  }
}
