@font-face {
  font-family: "Avenir";
  src: url('../font/Avenir.otf');
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 400 1em/1.4 Avenir, sans-serif;
}

main {
  color: rgba(0, 0, 0, 0.87);
}

header {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  background: url('../video/fundo.jpg') no-repeat center center;
  background-size: cover;
}

header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 115, 190, .25) url('../img/black-dots.png') repeat top left;
  opacity: .3;
  z-index: 6;
  pointer-events: none;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  z-index: 5;
  opacity: 0;
  -webkit-transition: all .5s ease;
  -webkit-transition: all 1.25s ease;
  transition: all 1.25s ease;
}

video.playing {
  opacity: 1;
}

h1,
h2,
h3,
h4 {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

h1 {
  z-index: 10;
}

nav {
  width: 200px;
  background: #181915;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -200px;
  padding: .75em 0;
  z-index: 20;
  overflow-y: auto;
  color: rgba(255, 255, 255, .87);
}

.logo {
  max-width: 840px;
  width: 80vw;
  z-index: 10;
}

header .logo {
  -webkit-filter: drop-shadow(0 8px 20px rgba(255, 255, 255, .35)) drop-shadow(0 5px 100px #fff);
  filter: drop-shadow(0 8px 20px rgba(255, 255, 255, .35)) drop-shadow(0 5px 100px #fff);
}

ul {
  list-style: none;
  padding: 4em 0 0;
  width: 100%;
}

.menu {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  padding: 5px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .8);
  border-radius: 3px;
  z-index: 15;
  cursor: pointer;
}

.menu.show {
  right: 210px;
}

.menu.fixed {
  border: 2px solid #0073BE;
  background: #efefef;
}

.menu.show+ nav {
  right: 0;
}

.menu:hover {
  background: rgba(255, 255, 255, .3);
}

.menu.fixed:hover {
  background: rgba(0, 115, 190, .2);
}

.controle {
  position: relative;
  width: 100%;
  height: 100%;
}

.faixa,
.faixa:after,
.faixa:before {
  position: absolute;
  background: rgba(255, 255, 255, .87);
  width: 100%;
  height: 5px;
  border-radius: 3px;
  bottom: 0;
}

.menu.fixed .faixa,
.menu.fixed .faixa:after,
.menu.fixed .faixa:before {
  background: #0073BE;
}

.faixa:after,
.faixa:before {
  content: '';
}

.faixa:after {
  top: -10px;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.faixa:before {
  top: -20px;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

.menu.show .faixa {
  background: transparent
}

.menu.show .faixa:after {
  top: -21px;
  -webkit-transform: rotate(45deg) scaleX(1.4) translate(0, -2px);
  transform: rotate(45deg) scaleX(1.4) translate(0, -2px);
}

.menu.show .faixa:before {
  top: 0;
  -webkit-transform: rotate(-45deg) scaleX(1.4) translate(0, 2px);
  transform: rotate(-45deg) scaleX(1.4) translate(0, 3px);
}

nav ul {
  padding: 0;
}

nav li {
  width: 100%;
  padding: 10px;
  text-align: center;
  border-left: 4px solid #181915;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
  font-size: 1.15em;
  color: rgba(255, 255, 255, .87);
}

nav li:hover {
  background: #272A26;
  border-left-color: #666;
}

nav img {
  width: 150px;
  padding: 10px;
  margin: 0 0 10px 25px;
}

.fixo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  padding: 8px 10px 8px 15px;
  background: #efefef;
  opacity: 0;
  height: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .37);
  z-index: 10;
}

.fixo.show {
  opacity: 1;
  height: 60px;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.fixo .logo {
  max-width: 200px;
  height: 100%;
  display: inline-block;
  text-align: left;
}

.fixo img {
  height: 100%;
}

section,
footer {
  padding: 5em 1em 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-flow: column;
  flex-flow: column;
}

#apresentacao,
#objetivos {
  padding: 5em 2em 4em;
}

#objetivos {
  background: url('../img/objetivos.jpg') center center;
  background-size: cover;
  background-attachment: fixed;
}

#objetivos h2,
#pesquisa h2,
#pesquisa .texto {
  color: rgba(255, 255, 255, .87);
  text-shadow: 0 0 1px rgba(0, 0, 0, .7);
}

#pesquisa {
  background: url('../img/temas.jpg') center center;
  background-size: cover;
  background-attachment: fixed;
}

h2 {
  font-size: 1.7em;
}

.divisoria {
  width: 60%;
  margin: .5em 0 2em;
}

.texto {
  width: 60%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.3em;
}

.container {
  width: 80%;
  padding: .5em;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}

.texto+ .container {
  padding-top: 2em;
}

.item {
  text-align: center;
  padding: 1em;
  border-radius: 5px;
  background: rgba(255, 255, 255, .7);
  border: 3px solid rgba(255, 255, 255, .9);
  margin-bottom: 10px;
  width: calc(50% - 1em);
  font-size: 1.15em;
}

li.item {
  width: 27%;
}

#objetivos .texto {
  color: white;
}

#fundamentacao li {
  padding: 0;
  font-size: 1.15em;
  border: 0;
  width: calc(50% - 1em);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .37);
  overflow: hidden;
}

#fundamentacao li div {
  height: 25px;
  width: 100%;
  background: #0073be;
  margin-bottom: 10px;
}

#fundamentacao li .dois {
  background: #0062ad;
}

#fundamentacao li .tres {
  background: #00519c;
}

#fundamentacao li .quatro {
  background: #00408b;
}

#fundamentacao li .cinco {
  background: #00307a;
}

#fundamentacao li p {
  padding: 0 1em 1em 1em;
}

#coordenacao p,
#coordenacao img {
  margin-left: 0;
}

#coordenacao h3 strong {
  font-size: 1.075em;
}

#coordenacao img {
  border-radius: 5px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #0073be;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

a:hover {
  color: #272a26;
}

i.lattes {
  width: 20px;
  height: 20px;
  position: relative;
  background-size: cover;
  margin: 0 4px;
  display: inline-block;
  top: 3px;
  background-image: url(../img/lattes.svg);
}

footer {
  padding: 4em 1em 3em;
  background: #181915;
  font-size: 1em;
  color: rgba(255, 255, 255, .87);
}

footer .simbolo {
  max-width: 100px;
  margin-bottom: 1.5em;
}

footer svg {
  width: 100%;
  fill: rgba(255, 255, 255, .65);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

footer:hover svg {
  fill: rgba(255, 255, 255, .85);
}

footer a {
  font-size: .675em;
  color: rgba(255, 255, 255, .67);
}

footer a:hover {
  color: rgba(255, 255, 255, .97);
}

button {
  margin: 1em 0 0;
  width: 35%;
  min-width: 250px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.3em;
  border: 2px solid rgba(0, 115, 190, .7);
  background: transparent;
  color: rgba(0, 115, 190, .7);
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

button:hover {
  background: rgba(0, 115, 190, .87);
  color: #fff;
}

.margem {
  margin: 20px 0 10px 0;
  font-size: 1.2em;
}

.edital {
  font-size: 1em;
  text-decoration: underline;
  font-style: italic;
  color: #0073be;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.edital:hover {
  color: #181915;
}

@media (max-width: 700px) {
  #apresentacao,
  #objetivos {
    padding: 5em 1em 4em;
  }
  .texto {
    width: 90%;
  }
  #objetivos .item,
  #pesquisa .item,
  #fundamentacao li,
  .divisoria,
  .container {
    width: 100%;
  }
  #texto {
    display: none;
  }
}
